 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
 }

 .icone {
     height: 30px;
     width: 30px;
     margin: 0;
 }

 body {
     background-color: white;
     color: black;
 }

 header {
     background-color: #352262;
     padding: 1rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: white;
 }

 header img {
     height: 40px;
 }


 .search-bar {
     flex: 1;
     margin: 0 2rem;
 }

 .search-bar input {
     width: 100%;
     padding: 0.5rem 1rem;
     border-radius: 8px;
     border: none;
 }

 .user-actions {
     display: flex;
     align-items: center;
     gap: 20px;
     background-color: #352262;
     padding: 10px 20px;
 }

 .login-cadastro a {
     color: white;
     text-decoration: none;
     margin: 0 5px;
     font-weight: bold;
 }

 .login-cadastro span {
     color: white;
 }

 .dark-mode img,
 .carrinho img {
     width: 24px;
     height: 24px;
     vertical-align: middle;
 }


 .carrinho span {
     color: white;
     margin-left: 5px;
 }


 .banner {
     height: 300px;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     color: #C3B1B1;
     font-size: 2rem;
     font-weight: 700;
 }

 .destaques {
     padding: 2rem;
 }

 .h2 {
     margin-bottom: 30px;
 }

 .destaques {
     display: flex;
     justify-content: center;
     gap: 20px;
     flex-wrap: wrap;
 }

 .jogo {
     background-color: white;
     width: 180px;
     padding: 15px;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
     text-align: center;
     border-radius: 10px;
 }

 .jogo img {
     width: 100%;
     border-radius: 5px;
 }

 .jogo h3 {
     font-size: 14px;
     margin: 10px 0 5px;
 }

 .jogo p {
     font-weight: bold;
     margin: 5px 0;
 }

 .btn {
     background-color: #b67dd4;
     color: white;
     padding: 8px 12px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     margin-top: 10px;
     font-size: 14px;
 }

 .btn:hover {
     background-color: #a263c0;
 }



 .loot-banner {
     background-color: #69539D;
     padding: 1rem 1rem;
     color: white;
 }

 .banner-content {
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-width: 1200px;
     margin: 0 auto;
     flex-wrap: wrap;
 }

 .textos {
     max-width: 50%;
 }

 .titulo {
     font-size: 2rem;
     font-weight: bold;
     margin-bottom: 1rem;
 }

 .subtitulo {
     font-size: 1rem;
     margin-bottom: 1.5rem;
 }

 .imagem {
     max-width: 400px;
     height: auto;
     width: 100%;

     img {
         height: 25%;
     }
 }



 .btnbanner {
     background-color: #CF74CF;
     color: white;
     padding: 8px 12px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     margin-top: 10px;
     font-size: 14px;
 }

 .btnbanner:hover {
     background-color: #CF74CF;
 }

 .compra-garantida {
     background: #fff;
     padding: 1rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-top: 1px solid #eee;
 }

 footer {
     background-color: #3D0F66;
     color: white;
     padding: 2rem;
     font-size: 0.875rem;
 }

 footer h3 {
     margin-bottom: 0.5rem;
 }

 footer a {
     color: white;
     text-decoration: none;
 }

 .socials,
 .selos,
 .formas-envio {
     display: flex;
     gap: 1rem;
     margin-top: 1rem;
 }